@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f7fff7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-granite:#586A6A;
  --color-mintGrand:#f7fff7;
  --color-bronze:#af9b46;
  --color-spaceIndigo:#171738;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7fff7;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
